body {
  margin     : 0;
  padding    : 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.checkbox, .pin, .email-contents, .date {
  border-top   : 1px solid lightgrey;
  border-bottom: 1px solid lightgray;
}

.container {
  display              : grid;
  grid-template-columns: auto;
  grid-template-rows   : 1fr 1fr 3fr 2fr;
  grid-template-areas  : "checkbox pin email-contents date";
  padding              : 10px;
  justify-content      : center;
}

.checkbox, .pin {
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding        : 20px;
}

.pin, .message {
  color: gray;
}

.email-contents {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  padding        : 5px;
}

.senderSubject {
  display: flex;
}

.subject {
  margin: 0 auto;
}

.date {
  padding: 5px 20px;
}
