body {
  margin     : 0;
  padding    : 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display              : grid;
  grid-template-columns: auto;
  grid-template-rows   : 1fr 1fr 3fr 2fr;
  grid-template-areas  : "container checkbox pin email-contents date"
}

.container, .checkbox, .pin, .email-contents, .date {
  border: 1px solid black;
}
